h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MOBYLE HEADER STYLES */

.navigation-list {
  display: none;
}

.contacts {
  display: none;
}

.navigation-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.studio {
  color: #2e2f42;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.page-header {
  padding: 16px 0;
}

@media screen and (max-width: 767px) {
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-open-button-icon {
    fill: #2f2f37;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
  }

  .mobile-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* margin-bottom: 168px; */
  }

  .mobile-navigation-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-contacts {
    margin-bottom: 48px;
  }

  .mobile-contacts-link {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  .mobile-social-list {
    display: flex;
    gap: 40px;
  }

  .mobile-social-list-item {
    width: 40px;
    height: 40px;
  }

  .mobile-social-link {
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    color: #404bbf;
  }

  .number {
    color: #4d5ae5;
  }
}

/* MOBILE HERO STYLES */

.hero {
  max-width: 320px;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.hero-click {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-click:hover,
.hero-click:focus {
  background-color: #404bbf;
}

/* MOBILE ABOUT STYLES */

.icon-box {
  display: none;
}

.about-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.about-list-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.about-list-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* MOBILE TEAM STYLES */

.team {
  background-color: #f4f4fd;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.name-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-link-link {
  width: 40px;
  height: 40px;
}

.team-link-icon {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* MOBILE PORTFOLIO STYLES */

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.portfolio-list-item {
  background-color: #ffffff;
  width: 288px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-img {
  width: 100%;
  height: auto;
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-text {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

/* MOBILE FOOTER STYLES */

.bottom {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.studio-bottom {
  color: #f4f4fd;
}

.bottom-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.bottom-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.social-bottom {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: center;
}

.div-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.social-bottom-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-bottom-link {
  width: 40px;
  height: 40px;
}

.social-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

.email-form {
  color: #ffffff;
  opacity: 0.3;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  height: 40px;
  width: 288px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  display: inline-block;
  padding: 8px 16px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.email-form::placeholder {
  color: #ffffff;
  opacity: 0.3;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.email-button {
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.email-icon {
  display: block;
  margin-left: 16px;
  fill: #ffffff;
}

.email-button:hover,
.email-button:focus {
  background-color: #404bbf;
}

/* MOBILE MODAL STYLES */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: #ffffff;
}
.modal-text {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-field {
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  outline-color: transparent;
  outline-offset: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus {
  border-color: #4d5ae5;
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-message {
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline-color: transparent;
  outline-offset: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message:focus {
  border-color: #4d5ae5;
}

.review-form-message::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.review-form-field-message {
  margin-bottom: 16px;
}

.review-form-checkbox {
  color: transparent;
}

.review-form-own-checkbox {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE, #8e8f99);
}

.privacy-policy-link {
  color: #4d5ae5;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.review-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button:hover,
.review-form-button:focus {
  background: #404bbf;
}

/* TABLET STYLES*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* TABLET HEADER STYLES */

  .page-header .container {
    align-items: center;
  }

  .page-header {
    padding: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    margin-left: 120px;
    gap: 40px;
  }

  .navigation-link:hover,
  .navigation-link:focus {
    color: #404bbf;
  }

  .navigation-link {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .contacts-link {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    display: block;
    position: absolute;
    margin-top: 20px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  /* TABLET HERO STYLES */

  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }

  /* TABLET ABOUT STYLES */

  .about-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .about-list-item {
    width: calc((100% - 24px) / 2);
  }

  .about-list-title {
    text-align: justify;
  }

  /* TABLET TEAM STYLES */

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  /* TABLET PORTFOLIO STYLES */

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* TABLET FOOTER STYLES */

  .div-footer {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 584px;
  }

  .bottom-logo {
    text-align: left;
  }

  .bottom-text {
    max-width: 264px;
  }

  .social-bottom {
    text-align: left;
  }

  .email {
    flex-direction: row;
    gap: 24px;
  }

  .email-form {
    width: 264px;
  }

  /* TABLET MODAL STYLES */

  .modal {
    width: 408px;
    min-height: 504px;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* DESKTOP HEADER STYLES */

  .navigation-list {
    margin-left: 76px;
    gap: 28px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* DESKTOP HERO SRYLES */

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* DESKTOP ABOUT STYLES */

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-box:hover,
  .icon-box:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .about-list {
    flex-wrap: nowrap;
  }

  .about-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .about-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .about-list-text {
  }

  /* DESKTOP TEAM STYLES */

  .team-list {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  /* DESKTOP PORTFOLIO STYLES */

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  /* DESKTOP FOOTER STYLES */

  .div-footer {
    flex-wrap: nowrap;
    width: 1158px;
    justify-content: baseline;
    gap: 0;
  }

  .web-block {
    display: block;
    margin-right: 120px;
  }

  .social-block {
    display: block;
    margin-right: 80px;
  }

  .email-form {
    opacity: 1;
  }

  .email-form::placeholder {
    opacity: 1;
  }
}
